* {
  margin: 0;
  padding: 0;  
  font-family: 'Merriweather', serif;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;  
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.container {  
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__background {
  position: relative;
  width: 1440px;
  height: 910px;
  background-image: url(images/bg.jpg);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 90px;
}

.navigation {
  position: absolute;
  top: 20px;
  left: 850px; 
  height: 50px;
  width: 500px;
}

.navigation__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 50px;
}

.lng,
.list__item {
  transition: 700ms;
}

.lng:hover,
.list__item:hover {
  transform: scale(1.1);
  color: #BDAE82;
}

.link {
  color: #FFFFFF;
  text-decoration: none;
  transition: 700ms;
}
.link:hover {  
  text-decoration: none;
  color: #BDAE82;  
}

.switch__lng {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  left: 1350px;  
  width: 70px;
  height: 50px;
}

.lng {
  font-size: 20px;
  color: #FFFFFF;
}

.logo {
  position: absolute;
  top: 25px;
  left: 20px;
}

.hero {
  position: absolute;
  top: 250px;
  left: 80px;
  width: 500px;
  height: 330px;
}

.hero__title {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px; 
  color: #FFFFFF;
}

.hero__text {
  width: 470px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px; 
  color: #FFFFFF; 
  margin-bottom: 25px;
}

.section__skills {
  position: relative;
  width: 1440px;
  height: 482px;
  background-color: black;
}

.section__price__title,
.section__video__title,
.section__portfolio__title,
.section__skills__title {
  position: absolute;
  top: 100px;
  left: 370px;
  width: 700px;
  height: 80px;
}

.price__title,
.video__title,
.portfolio__title,
.skills__title {
  background-color: black;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  text-align: center;
}

.skills__title {
  position: absolute;
  left: 274px;
  width: 152px;
  height: 80px;
}

.title__line {
  position: absolute;
  top: 39px;
  width: 700px;
  height: 2px;
  background-color: #BDAE82;
}

.skills__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 240px;
  left: 20px;
  width: 1400px;
  height: 242px;
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 320px;
  height: 240px;
}

.skill__item__title {  
  width: 280px;
  height: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.skill__item__description {  
  width: 280px;
  height: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.camera__item {  
  width: 62px;
  height: 50px;
  margin-bottom: 50px;
}

.video__item {  
  width: 60px;
  height: 50px;
  margin-bottom: 50px;
}

.image__item {  
  width: 66px;
  height: 50px;
  margin-bottom: 50px;
}

.micro__item {  
  width: 32px;
  height: 50px;
  margin-bottom: 50px;  
}

.section__portfolio {
  position: relative;
  width: 1440px;
  height: 1500px;
  background-color: #000000;
}

.portfolio__title {
  position: absolute;
  left: 232px;
  width: 220px;
  height: 80px;
}

.portfolio__btns {
  display: flex;
  justify-content: space-between;
  position: absolute;  
  top: 240px;
  left: 272px;
  width: 895px;
  height: 55px;
}

.portfolio__btn {
  position: relative;  
  width: 220px;
  height: 55px;
  border: 2px solid #BDAE82;
  background-color: #000000;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;  
  color: #BDAE82;
  transition: 1000ms;
}

.portfolio__btn:hover {
  background-color: #BDAE82;
  color: #000000;
}

.portfolio__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  position: absolute;
  top: 355px;
  left: 20px;
  width: 1400px;
  height: 1145px;  
}

.portfolio__item {
  width: 450px;
  height: 560px;
  transition: 1000ms;
}

.section__video {
  position: relative;
  width: 1440px;
  height: 945px;
  background-color: #000000;
}

.video__title {
  position: absolute;
  left: 273px;
  width: 154px;
  height: 80px;
}

.video__player {
  position: absolute;
  top: 240px;
  left: 20px;
  width: 1400px;
  height: 705px;
}

.play__btn {
  position: absolute;
  top: 528px;
  left: 656px;
  text-decoration: none;
  transition: 1000ms;
}

.play__btn:hover {
  transform: scale(1.1);
}

.section__price {
  position: relative;
  width: 1440px;
  height: 845px;
  background-color: #000000;
}

.price__title {
  position: absolute;
  left: 279px;
  width: 142px;
  height: 80px;
}

.section__price__items {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 240px;
  left: 20px;
  width: 1400px;
  height: 505px;
}

.section__price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 450px;
  height: 505px;
  border: 3px solid #BDAE82;
  padding-top: 43px;
  padding-bottom: 43px;
}

.section__price__item__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.price {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #BDAE82;
}

.conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  width: 364px;
  height: 180px;
}

.condition {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
}

.contact__btn,
.hero__btn,
.order__shooting {
  width: 220px;
  height: 65px;
  background-color: #BDAE82;
  color: #000000;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  transition: 1000ms;
}

.order__shooting {
  margin-bottom: 43px;
}

.contact__btn:hover,
.hero__btn:hover,
.order__shooting:hover {
  border: 2px solid #BDAE82;
  background-color: #000000;
  color: #BDAE82;
}

.section__contacts {
  position: relative;
  width: 1440px;
  height: 700px;
  background-image: url(images/bg.jpg);  
}

.contacts__container { 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  position: absolute;
  top: 60px;
  left: 100px;
  width: auto;
  height: 445px;
}

.contacts__title {
  width: 450px;
  height: 80px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px; 
  color: #BDAE82; 
}

.email__input,
.tel__input {
  width: 450px;
  height: 50px;
  background-color: rgb(0, 0, 0, 0.3);
  border: 3px solid #BDAE82;
  text-indent: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}

.textarea {
  width: 450px;
  height: 100px;
  border: 3px solid #BDAE82;
  background-color: rgb(0, 0, 0, 0.3);
  text-indent: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
  resize: none;
}

.textarea::placeholder,
.email__input::placeholder,
.tel__input::placeholder {
  color: #BDAE82;
}

.section__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1440px;
  height: 150px;
  background-color: #000000;
}

.footer__data {
  display: flex;
  gap: 20px;  
  width: 182px;
  height: 50px;
  margin-left: 20px;
}

.footer__title,
.github {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  transition: 700ms;
}

.footer__data > a:hover {
  transform: scale(1.2);
  color: #BDAE82;
}

.social__list {
  display: flex;
  justify-content: space-between;  
  width: 188px;
  height: 50px;
  margin-right: 20px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  transition: 700ms;
}

.footer-logo:hover {
  transform: scale(1.1);
}